@import "variables";

.G-container {
  max-width: 1920px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
.G-image{
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}