
$mainColor: #0E1F39;;

$white:#FFFFFF;
$lightGold:#FFC700;
$lightWhite:#F8F8F8;
$darkGold:#F3B620;

//Breakpoints
$md1:1200;
$md2:991.98;
$md3:767.98;
$md4:479.98;

//Font Size
$fontSize24:24px;
$fontSize40:40px;
$fontSize26:26px;
$fontSize30:30px;
$fontSize20:20px;
$fontSize22:22px;
$fontSize18:18px;
$fontSize60:60px;
$fontSize16:16px;
//lineHeight
$lineHeight:30.98px;

//weight
$weight500:500;
$weight700:700;

//transition
$transition:.3s;