@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l0uw4x');
  src:  url('fonts/icomoon.eot?l0uw4x#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l0uw4x') format('truetype'),
    url('fonts/icomoon.woff?l0uw4x') format('woff'),
    url('fonts/icomoon.svg?l0uw4x#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Vector2x:before {
  content: "\e900";
  color: #ffc700;
}
.icon-uim_whatsapp:before {
  content: "\e902";
  color: #ffc700;
}
.icon-uil_facebook:before {
  content: "\e903";
  color: #ffc700;
}
.icon-teenyicons_instagram-solid:before {
  content: "\e904";
  color: #ffc700;
}
.icon-ooui_speech-bubbles-ltr:before {
  content: "\e90d";
  color: #ffc700;
}
.icon-uniE905:before {
  content: "\e905";
  color: #ffc700;
}
.icon-uniE906:before {
  content: "\e906";
  color: #ffc700;
}
.icon-fa-solid_question-1:before {
  content: "\e907";
  color: #ffc700;
}
.icon-Vector:before {
  content: "\e909";
  color: #ffc700;
}
.icon-Vector-3:before {
  content: "\e90b";
  color: #fff;
}
.icon-mmedia-new-logo1:before {
  content: "\e90c";
}
.icon-mmedia-new-logo:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e92b";
}
.icon-home2:before {
  content: "\e912";
}
.icon-pen:before {
  content: "\e908";
}
.icon-blog:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e942";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-users:before {
  content: "\e972";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkmark2:before {
  content: "\ea11";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-ungroup:before {
  content: "\ea59";
}
.icon-home_repair_service:before {
  content: "\e913";
}
.icon-electrical_services:before {
  content: "\e914";
}
.icon-perm_device_information:before {
  content: "\e901";
}
