@import "src/assets/style/variables";

.home_image {
  width: 100%;
  height: 100vh;
  position: relative;

  @media screen and (max-width: $md3 + px) {

  }
}

.home_image_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $mainColor;
  opacity: .6;
}

.home_body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @media screen and (max-width: $md3 + px) {
    align-items: flex-start;

  }
}

.home_text {
  max-width: 750px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  position: relative;

  p {
    font-size: calc($fontSize22 + 14 * (100vw / 1920));
    font-weight: $weight700;
    text-align: center;
    color: $white;
  }

  @media screen and (max-width: $md3 + px) {
    margin-top: 20px;
    line-height: 40px;
  }

}

.home_more_btn {
  display: flex;
  align-items: center;

  button {
    padding: 15px;
    margin-top: 60px;
    width: 200px;
    background: $lightGold;
    font-size: $fontSize26;
    color: $mainColor;
    font-weight: $weight500;
    border-radius: 10px;
    transition: $transition;

    &:hover {
      background: $darkGold;

    }
  }
}


//home_contact_us Style

.home_contact_us_body {
  padding: 50px 0;
}

.home_contact_us_bg {
  background-color: $mainColor;
}

.home_contact_us_title {

  p {
    font-size: calc($fontSize20 + 10 * (100vw / 1920));
    color: $white;
    text-align: center;
    max-width: 800px;

  }

  span {
    font-size: calc($fontSize22 + 10 * (100vw / 1920));
    font-weight: $weight700;
    color: $white;
    text-align: center;
    display: block;
  }
}

.home_contact_us_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home_contact_us_body > :not(:last-child) {
  margin: 0 0 20px;
}

.home_contact_us_title > :not(:last-child) {
  margin: 0 0 30px;

}

.home_contact_us_form > :not(:last-child) {
  margin: 0 0 30px;

}

.home_contact_us_form {
  max-width: 505px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home_contact_email {
  display: flex;
  width: 100%;

  input {
    width: 100%;
    padding: 15px 15px;
    border-radius: 10px;
    background-color: $lightGold;
    color: $mainColor;
    font-size: $fontSize20;
    border: 3px solid $lightGold;
    transition: $transition;

    &:focus {
      border: 3px solid $white;

    }

  }

  button {
    padding: 0 20px;
    background-color: $mainColor;
    border-radius: 10px;
    color: $white;
    border: 3px solid $lightGold;
    font-size: calc($fontSize16 + 4 * (100vw / 1920));
    position: absolute;
    right: 0;
    height: 100%;
    transition: $transition;

    &:hover {
      color: $lightGold;

    }


  }

  label {
    display: flex;
    width: 100%;
    position: relative;
  }
}

.home_contact_call {
  a {
    width: 200px;
    border: 3px solid $lightGold;
    padding: 10px;
    background-color: $mainColor;
    color: $white;
    font-size: calc($fontSize16 + 4 * (100vw / 1920));
    border-radius: 10px;
    text-align: center;

    &:hover {
      color: $lightGold;

    }
  }
}

//Why Chose Style
.home_why_choose_body_title, .home_why_choose_content {
  padding: 50px 0;
}

.home_why_choose_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.home_why_choose_image_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $mainColor;
  opacity: .4;
}

.home_why_choose_body {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_why_choose_body_title {
  p {
    color: $white;
    font-size: calc($fontSize26 + 34 * (100vw / 1920));

    text-align: center;
    font-weight: $weight700;
  }
}

.home_why_choose_content {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: $md2 + px) {
    flex-wrap: wrap;

  }
  @media screen and (max-width: $md3 + px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.home_why_choose_items_rowRight {
  @media screen and (max-width: $md2 + px) {
    width: 100%;
    margin-top: 100px;


  }

}

.home_why_choose_center_item {
  @media screen and (max-width: $md3 + px) {
    margin-top: 100px;

  }
}

.home_why_choose_items_rowLeft > :not(:last-child) {
  margin: 0 0 200px;
  @media screen and (max-width: $md3 + px) {
    margin: 0 0 100px;

  }
}

.home_why_choose_items_rowRight > :not(:last-child) {
  margin: 0 0 200px;
  @media screen and (max-width: $md3 + px) {
    margin: 0 0 100px;

  }
}

.home_why_choose_rowLeft_item, .home_why_choose_center_item, .home_why_choose_item_rowRight {
  display: flex;
  align-items: center;
  background-color: $mainColor;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
  position: relative;

  img {
    object-fit: cover;
    position: relative;


  }

  p {
    color: $darkGold;
    font-weight: $weight700;
    font-size: calc($fontSize20 + 10 * (100vw / 1920));
    text-align: center;
  }

  &::before {
    content: '';
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: $darkGold;
    left: 0;
    top: 0;
    border-radius: 10px;

  }

}

.home_why_choose_rowLeft_item > :not(:last-child) {
  margin: 0 0 20px;
}

.home_why_choose_item_rowRight > :not(:last-child) {
  margin: 0 0 20px;
}

.home_why_choose_center_item > :not(:last-child) {
  margin: 0 0 20px;
}


.home_why_choose_items_center {
  display: flex;
  align-items: center;
}

//media_development_description style

.media_development_description_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.media_development_description_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $white;
  opacity: .7;
}

.media_development_description_body {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.media_development_description_body > :not(:last-child) {
  margin: 0 0 100px;
}

.media_development_description_title {

  p {
    font-size: calc($fontSize20 + 20 * (100vw / 1920));
    font-weight: $weight700;
    color: $mainColor;
    text-align: center;
    max-width: 1000px;
    line-height: 40px;
  }
}

.media_development_description_call {
  a {
    width: 200px;
    border: 3px solid $lightGold;
    padding: 10px;
    background-color: $mainColor;
    color: $white;
    font-size: calc($fontSize16 + 4 * (100vw / 1920));
    border-radius: 10px;
    text-align: center;

    &:hover {
      color: $lightGold;

    }
  }
}

//home_our_services_Style
.home_our_services_content {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 50px 0;


  img {


    @media screen and (max-width: $md4 + px) {
      width: 250px;
      height: 200px;
    }
  }

  @media screen and (max-width: $md3 + px) {
    flex-direction: column;
  }
}

.home_our_services_image {
  position: relative;

}

.home_our_services_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $mainColor;
  opacity: .7;

}

.home_our_services_content_rowCenter {
  display: flex;
  justify-content: center;
}


.home_our_services_content_rowCenter_item, .home_our_services_content_rowLeft_item, .home_our_services_content_rowRight_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    color: $white;
    font-weight: $weight700;
    font-size: calc($fontSize20 + 10 * (100vw / 1920));
    text-align: center;
  }

  img{
     object-fit: cover;

  }
}


.home_our_services_title {
  position: relative;
  padding: 50px 0;

  p {
    color: $lightGold;
    font-size: calc($fontSize26 + 34 * (100vw / 1920));
    text-align: center;
    font-weight: $weight700;
  }
}

.home_our_services_content_rowLeft_item {
  @media screen and (max-width: $md3 + px) {
    margin: 0 0 100px;

  }

}

.home_our_services_content_rowLeft > :not(:last-child) {
  margin: 0 0 100px;
}

.home_our_services_content_rowRight > :not(:last-child) {
  margin: 0 0 100px;
}

.home_our_services_content_rowLeft_item > :not(:last-child) {
  margin: 0 0 20px;
}

.home_our_services_content_rowCenter_item > :not(:last-child) {
  margin: 0 0 20px;
}

.home_our_services_content_rowRight_item > :not(:last-child) {
  margin: 0 0 20px;
}

.home_our_services_content_rowCenter_item_mobile > :not(:last-child) {
  margin: 0 0 20px;
}

.home_our_services_content_rowCenter_item {
  @media screen and (max-width: 1393px) {
    display: none;
  }
}

.home_our_services_content_rowCenter_item_mobile {
  display: none;
  @media screen and (max-width: 1393px) {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $white;
      font-weight: $weight700;
      font-size: calc($fontSize20 + 10 * (100vw / 1920));
      text-align: center;
    }
  }
}

.home_our_services_content_rowRight {

  @media screen and (max-width: $md3 + px) {
    max-height: 0;
    visibility: hidden;
    transition: .3s;
    opacity: 0;


    &.active {
      visibility: visible;
      opacity: 1;
      position: relative;
      max-height: 2000px;
      transition: .3s;


    }
  }
}

.load_more_services {
  align-items: center;
  justify-content: center;
  display: none;
  margin-top: 20px;

  button {
    color: $white;
    font-weight: $weight700;
    background: none;
    font-size: calc($fontSize20 + 10 * (100vw / 1920));
    text-align: center;
    border: 2px solid $darkGold;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 60%;
    position: relative;

  }

  @media screen and (max-width: $md3 + px) {
    display: flex;

  }
  &.active{
     .load_more_services_icon{
        transform: rotate(180deg);
     }
  }

}

.load_more_services_icon {
  position: absolute;
  left: 5px;
  top: 20px;
  color: $white;
  font-size: calc($fontSize20 + 10 * (100vw / 1920));
  transition: .3s;

}

//home_user_question style


.home_user_question_bg {
  padding: 50px 0;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;

}

.home_user_question_text {
  max-width: 1000px;

  p {
    color: $lightGold;
    text-align: center;
    font-size: calc($fontSize20 + 20 * (100vw / 1920));
    font-weight: $weight700;
    line-height: 40px;


  }
}

.home_user_question_body {
  display: flex;
  align-items: center;
  justify-content: center;
}

//home_media_development_info Style
.home_media_development_info {
  position: relative;

}

.home_media_development_info_body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home_media_development_info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_media_development_info_text {
  padding: 50px 0;
  position: relative;

  p {
    color: $mainColor;
    max-width: 700px;
    text-align: center;
    font-size: calc($fontSize20 + 10 * (100vw / 1920));
    font-weight: $weight700;
    line-height: 40px;
  }
}

.home_media_development_info_bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .7;
  background-color: $white;
}

.home_media_development_info_text > :not(:last-child) {
  margin: 0 0 50px;
}

//Slider Style
.slick-dots {

  bottom: 20px !important;
  @media screen and (max-width: $md3 + px) {
    bottom: 100px !important;

  }
}

.slick-dots li {
  margin: 0 0 25px;
  border-radius: 50%;
  background-color: $darkGold;
}

.slick-dots li button {
  display: block;
  width: 16px;
  height: 16px;
  padding: 0;
  border: none;
  border-radius: 50%;
}

.slick-track {

  @media screen and (max-width: $md3 + px) {
    //transform: translate3d(-442px, 0px, 0px) !important;

  }
}

.slick-dots {

  li {

    button {

      &::before {
        color: $darkGold !important;

      }

    }
  }
}

.slick-dots li.slick-active button:before {
  color: black !important;

}