@import "src/assets/style/variables";

.header_section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.header_wrapper {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 50;
  height: 100px;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: $md2 + px) {
    height: 80px;

  }
  @media screen and (max-width: $md4 + px) {
    height: 60px;

  }

}

.header-menu {
  width: 100%;
}

.header_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {

  a {
    span {
      font-size: $fontSize60;
      color: $darkGold;

      @media screen and (max-width: $md4 + px) {
        font-size: $fontSize40;

      }
    }
  }
}

.header_contact {
  display: flex;
  gap: 40px;
  align-items: center;

  span {
    font-size: $fontSize30;

    @media screen and (max-width: $md4 + px) {
      font-size: $fontSize26;

    }
  }
}

.burger-btn {
  display: none;
  width: 25px;
  height: 20px;
  position: relative;
  cursor: pointer;
  z-index: 3;


  @media screen and (max-width: $md2 + px) {
    display: block;
  }

  span {
    position: absolute;
    top: 8px;
    width: 35px;
    background: $darkGold;
    height: 3px;
    transition: .3s;

    @media screen and (max-width: $md4 + px) {
      width: 30px;
      top: 9px;
      height: 2px;


    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 35px;
    background: $darkGold;
    height: 3px;
    transition: .3s;
    @media screen and (max-width: $md4 + px) {
      width: 30px;
      height: 2px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 35px;
    background: $darkGold;
    height: 3px;
    transition: .3s;

    @media screen and (max-width: $md4 + px) {
      width: 30px;
      height: 2px;
    }
  }

  .active {
    background: red;
  }
}

.burger-btn.active:before {
  transform: rotate(45deg);
  top: 9px;

}

.burger-btn.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger-btn.active span {
  transform: scale(0);
}
