@import "src/assets/style/variables";

.costumers_item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media screen  and (max-width: $md3 + px){
     flex-direction: column;
  }
}
.costumers_item:nth-child(2){
  @media screen  and (max-width: $md3 + px){
    flex-direction: column-reverse;
  }
}
.costumers_item_title{


  p{
    color: $white;
    background-color: $mainColor;
    padding: 20px;
    border-radius: 10px;
    font-size: calc($fontSize16 + 12 * (100vw / 1920));
    text-align: center;
    line-height: 30px;

  }
}
.costumers_item_img{

}