
@import "../../assets/style/variables.scss";

.spoiler_img_block{
  position: relative;
}
.spoiler_img_item{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 1000px;

  
  
    p {
      color: black;
      font-weight: 700;
      font-size: calc($fontSize20 + 10 * (100vw / 1920));
      cursor: pointer;
      text-align: center;
    }
  
    span {
      transform: rotate(0deg);
      transition: .3s;
     font-size: $fontSize26;
     color: $white;
  
      &.active {
        transform: rotate(180deg);
  
      }
  
    }
    @media screen and (max-width : $md2 + px) {
        flex-direction: column;
        
    }
}
.spoiler_img_block:nth-child(2){
   .spoiler_img_item{
    @media screen and (max-width : $md2 + px) {
      flex-direction: column-reverse;
      
  }
   }
}
.spoiler_img_block:nth-child(4){
  .spoiler_img_item{
   @media screen and (max-width : $md2 + px) {
     flex-direction: column-reverse;
     
 }
  }
}
.spoiler_img_block:nth-child(6){
  .spoiler_img_item{
   @media screen and (max-width : $md2 + px) {
     flex-direction: column-reverse;
     
 }
  }
}
.spoiler__block_text{
    padding: 20px;
    background-color: $mainColor;
    border-radius: 10px;

   p{
    color: $white;

   }
}
.spoiler_img_text {
    background-color: $mainColor;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1000px;

  
    p {
      font-size: calc($fontSize18 + 6 * (100vw / 1920));
      color: $white;
      font-weight: 400;
      line-height: 40px;
      text-align: center;
  
      // @media screen and (max-width: 1056px) {
      //   max-width: 600px;
  
      // }
      // @media screen and (max-width: 638px) {
      //   max-width: 300px;
  
      // }
  
    }
  
    &.active {
      opacity: 1;
      visibility: visible;
      position: relative;
      transition: .3s;
      max-width: 1000px;

    }
  }

