@import "src/assets/style/variables";
.App {
   overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.main_content{
   margin-top: 100px;

  @media screen  and (max-width: $md2 + px){
    margin-top: 80px;

  }

  @media screen  and (max-width: $md4 + px){
    margin-top: 60px;

  }
}

